.mirror {
    display: block;
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
}
.data-science-badge {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    position: relative;
    height: 150px;
    width: 150px;
    background: rgba(30, 30, 30, .3);
    border-width: 4px;
    border-color: rgba(255, 255, 255, 1.0);
    border-style: solid;
    color: #FFF;
    vertical-align: middle;
    text-align: center;
}
.data-science-badge p {
    line-height: 150px;
    font-size: 200%;
    color: rgba(255, 255, 255, 1.0);
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.tool-description-header {
    font-size: 150%;
    font-weight: bold;
}
.data-science-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/a.png) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.intro {
    /*
    background-image: none;
    background-color: #888;
*/
    background: url(https://placekitten.com/1500/1125) no-repeat top center scroll;
    background-size: cover;
}