<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="css/custom.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lora|Montserrat" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
    <script src="js/app.js"></script>

    <title>Ramsey Barghouti</title>

</head>
<body id="page-top"
      ng-app="ramseybarghouticom"
      ng-controller="ramseybarghouticomController"
      data-spy="scroll"
      data-target=".navbar-fixed-top">
  <div>
    <nav class="navbar navbar-custom navbar-fixed-top"
         role="navigation">
      <div class="navbar-header">
        <button type="button"
                class="navbar-toggle"
                data-toggle="collapse"
                data-target=".navbar-main-collapse">
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll" href="#page-top">
          <span class="light">{Ramsey Barghouti}</span>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
          <!-- Hidden li included to remove active class from about link -->
          <!-- when scrolled up past about section -->
          <li class="hidden"><a href="#page-top"></a></li>
          <li><a class="page-scroll" href="#about">About Me</a></li>
          <li><a class="page-scroll" href="#datascience">Data Science</a></li>
          <li><a class="page-scroll" href="#developer">Developer</a></li>
          <li><a class="page-scroll" href="#contact">Contact</a></li>
          <li><a href="file/Ramsey_Barghouti_Resume.pdf" download>
            <i class="fa fa-download"></i> Resume</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </nav>
  </div>

  <header class="intro">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="brand-heading">Ramsey Barghouti</h1>
            <p class="intro-text">
              Data Scientist | Full-Stack Developer | Programmer
            </p>
            <a href="#about" class="btn btn-circle page-scroll">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section id="about" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Who am I?</h2>
        <p>
          I am a Data Scientist with a variety of experiences and skills.
          I build light-weight tools, sites, apps and systems and I
          customize them to the needs of the users. I can help you
          break down big complicated problems into smaller easier to
          solve problems. By breaking your problems down into managable
          pieces, I can help you get the most from your project.
        </p>
      </div>
    </div>
  </section>

  <section id="datascience" class="content-section text-center">
    <div class="data-science-section">
      <div class="container data-science-badges">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
          <h2>Data Science</h2>
          <p>I use the best and most collaborative tools in Data Science.</p>

          <div ng-repeat="badge in dataScienceBadges"
               class="col-md-4 col-sm-4 col-xs-6">
            <a href="{{badge.url}}"
               target="_blank"
               class="data-science-badge">
              <img src="{{badge.iconUrl}}"></img>
            </a>
            <p class="tool-description-header">{{badge.title}}</p>
            <p class="tool-description-body">{{badge.description}}</p>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section id="developer" class="content-section text-center">
    <div class="developer-section">
      <div class="container data-science-badges">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
          <h2>Full Stack Developer</h2>
          <p>Rapid prototypes. Seemless integration. Smart design.</p>
          <div ng-repeat="badge in developerBadges"
               class="col-md-4 col-sm-4 col-xs-6">
            <a href="{{badge.url}}" target="_blank" class="data-science-badge">
              <img src="{{badge.iconUrl}}"></img>
            </a>
            <p class="tool-description-header">{{badge.title}}</p>
            <p class="tool-description-body">{{badge.description}}</p>
          </div>
          <p>And many more...</p>
        </div>
      </div>
    </div>
  </section>

  <section id="contact"
           class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Contact Ramsey Barghouti</h2>
        <p>Drop me a line to get going on awesome projects.</p>
        <p>
          <a href="mailto:ramsey.barghouti@gmail.com">
            ramsey.barghouti@gmail.com
          </a>
        </p>
        <ul class="list-inline banner-social-buttons">
          <li>
            <a href="https://twitter.com/ramseybarghouti"
               target="_blank"
               class="btn btn-default btn-lg">
               <i class="fa fa-twitter fa-fw"></i>
               &nbsp;
               <span class="network-name">Twitter</span>
             </a>
          </li>
          <li>
            <a href="https://github.com/rbarghou"
               target="_blank"
               class="btn btn-default btn-lg">
               <i class="fa fa-github fa-fw"></i>
               &nbsp;
               <span class="network-name">Github</span>
             </a>
          </li>
          <li>
            <a href="https://plus.google.com/103644271755404279174/posts"
               target="_blank"
               class="btn btn-default btn-lg">
               <i class="fa fa-google-plus fa-fw"></i>
               &nbsp;
               <span class="network-name">Google+</span>
             </a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <footer>
    <div class="container text-center">
      <p>Copyright &copy; Ramsey Barghouti 2017</p>
    </div>
  </footer>
</body>
</html>
