<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <h2>Contact Ramsey Barghouti</h2>
    <p>Drop me a line to get going on awesome projects.</p>
    <p><a href="mailto:ramsey.barghouti@gmail.com">ramsey.barghouti@gmail.com</a>
    </p>
    <ul class="list-inline banner-social-buttons">
      <li>
        <a href="https://twitter.com/ramseybarghouti"
           target="_blank"
           class="btn btn-default btn-lg">
           <i class="fa fa-twitter fa-fw"></i>
           &nbsp;
           <span class="network-name">Twitter</span>
         </a>
      </li>
      <li>
        <a href="https://github.com/rbarghou"
           target="_blank"
           class="btn btn-default btn-lg">
           <i class="fa fa-github fa-fw"></i>
           &nbsp;
           <span class="network-name">Github</span>
         </a>
      </li>
      <li>
        <a href="https://plus.google.com/103644271755404279174/posts"
           target="_blank"
           class="btn btn-default btn-lg">
           <i class="fa fa-google-plus fa-fw"></i>
           &nbsp;
           <span class="network-name">Google+</span>
         </a>
      </li>
    </ul>
  </div>
</div>
